

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,0,0,0.5);
}


.windowContainer{
    max-width: 450px;
    width: 100%;
    border-radius: 12px;
    padding: 1rem;
    background-color: var(--bg-color-2);
    margin: 0 1rem;
    position: relative;
}

.buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.windowBtn{
    height: 40px;
    border-radius: 8px;
    border: 1px solid var(--border);
    padding: 0 0.8rem;
    background-color: var(--bg-color-2);
    color: var(--txt-color);
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#delete{
    background-color: #CB0A04;
    color: #FFFFFF;
    margin: 0 0 0 0.5rem;
}



.windowContainer h2{
    color: var(--txt-color);
    font-size: 24px;
    font-weight: bold;
}



.windowContainer p{
    color: var(--txt-color-2);
    font-size: 14px;
    margin: 0.5rem 0 1rem 0;
}


#archive{
    margin: 0 0 0 0.5rem;
    color: #FFFFFF;
    background-color: var(--button);
}

#archive:hover{
    background-color: var(--button-hover);
}



.closeBtn{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.closeBtn svg path{
    stroke: var(--txt-color);
}
