
.filter{
    width: 100%;
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.filter h1{
    font-size: 24px;
}

.filterBtn{
    width: 107px;
    height: 42px;
    border-radius: 8px;
    font-size: 16px;
    border: none;
    background-color: var(--bg-color-2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 1rem;
}