
.filter{
    width: 100%;
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    padding: 0 1rem 0 1.5rem;
    position: relative;
}


.filter h1{
    font-size: 24px;
    color: var(--txt-color-2);
}

.filterBtn{
    width: 107px;
    height: 42px;
    border-radius: 8px;
    font-size: 16px;
    border: none;
    background-color: var(--bg-color-2);
    color: var(--txt-color-2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 1rem;
    cursor: pointer;
}

.filterBtn svg{

}

.filterBtn svg path{
    stroke: var(--txt-color-2);
}


.filters{
    position: absolute;
    top: 45px;
    right: 15px;
    background-color: var(--bg-color-2);
    width: 200px;
    height: 132px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid var(--border);
    z-index: 10;
}

.filterItem{
    width: 184px;
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    color: var(--txt-color-2);
    cursor: pointer;
    padding: 0 0.3rem;
}

.filterItem:hover{
    background-color: var(--hover);
}

.selectedItem{
    background-color: var(--hover);
}


.filterItem svg{
    width: 16px;
}
.filterItem svg path{
    stroke: var(--txt-color-2);
}