.itemHolder{
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    width: 100%;
    flex-wrap: wrap;
    padding: 1rem;
}

.itemHolder::-webkit-scrollbar{
    width: 5px;
}


.itemHolder::-webkit-scrollbar-thumb{
    background: var(--button-hover);
}