


.loginSection{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.loginContainer{
    max-width: 448px;
    min-width: 334px;
    width: 100%;
    background-color: var(--bg-color-2);
    margin:1rem;
    border-radius: 10px;
    padding: 2rem  1.7rem;
    overflow: hidden;
}

.bookmarkLogo{
    height: 30px;
}


.container{
    width: 100%;
    margin: 1rem 0;
    transition: 5s ease-in-out;

}


.fadeAway{
    visibility: hidden;
}


.container h1{
    font-size: 1.5rem;
}

.container p{
    color: var(--txt-color-2);
    font-size: 0.8rem;
}

.form{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin: 1.4rem 0;
}


.formLabel{
    color: var(--txt-color);
    font-size: 0.8rem;
    margin: 0.7rem 0;
    font-weight: 600;
}


.formInput{
    height: 45px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--border) ;
    outline: none;
    padding: 0 1rem;
}


.formBtn{
    width: 100%;
    height: 45px;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    background-color: var(--button);
    margin: 1.5rem 0;
}
.footer{
    width: 100%;
}

.footerP{
    width: 100%;
    text-align: center;
    margin: 1rem 0;
    font-weight: 600;
}

.footerP button{
    font-size: 0.8rem;
    border: none;
    background:none;
    margin: 0 0.5rem;
    font-weight: 700;
    cursor: pointer;
}


