





.loginContainer{
    max-width: 448px;
    min-width: 334px;
    max-height: 543px;
    min-height: 530px;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    margin:1rem;
    border-radius: 10px;
    padding: 2rem  1.7rem;
}

.bookmarkLogo{
    height: 30px;
}


.container{
    width: 100%;
    margin: 1rem 0;

}

.container h1{
    font-size: 1.5rem;
}

.container p{
    color: #4C5C59;
    font-size: 0.8rem;
}

.form{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin: 1.4rem 0;
}


.formLabel{
    color: #051513;
    font-size: 0.8rem;
    margin: 0.7rem 0;
    font-weight: 600;
}


.formInput{
    height: 45px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #899492 ;
}


.formBtn{
    width: 100%;
    height: 45px;
    color: #ffffff;
    border-radius: 8px;
    border: none;
    background-color: #014745;
    margin: 1.5rem 0;
}


.footerP{
    width: 100%;
    text-align: center;
    margin: 1rem 0;
    font-weight: 600;
}

.footerP button{
    font-size: 0.8rem;
    border: none;
    background:none;
    margin: 0 0.5rem;
    font-weight: 700;
    cursor: pointer;
}