
.addOverlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add{
    position: relative;
    max-width: 570px;
    width: 100%;
    background-color: var(--bg-color-2);
    padding: 1.6rem;
    border-radius: 14px;
}

.add h1{
    font-size: 24px;
    font-weight: bold;
    color: var(--txt-color);
}

.add p{
    font-size: 14px;
    color: var(--txt-color-2);
    margin: 0 0 2rem 0;
}



.closeBtn{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.closeBtn svg path{
    stroke: var(--txt-color);
}


.addForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: relative;
}

.addForm input{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid var(--border);
    outline: none;
    background-color: var(--input);
    font-size: 14px;
    color: var(--txt-color);
    padding: 0 0.8rem;
}


#description{
    width: 100%;
    height: 90px;
    resize: none;
    border-radius: 8px;
    color: var(--txt-color);
    border: 1px solid var(--border);
    background-color: var(--input);
    outline: none;
    padding: 0.8rem 0.8rem;
}

.textareaCount{
    width: 100%;
    font-size: 12px;
    color: var(--txt-color-2);
    text-align: right;
}


.addForm label{
    font-size: 14px;
    color: var(--txt-color);
    padding: 0.5rem 0;
}

.formButtons{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 2.5rem 0 0 0;
}



.formButtons button{
    height: 40px;
    padding: 0.5rem 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--border);
    background-color: var(--bg-color-2);
}

#addButton{
    margin: 0 0 0 0.5rem;
    background-color: var(--button);
    color: #FFFFFF;
    border: none;
}


.tag{
    width: 100%;
    position: relative;
}

.tagsContainer{
    position: absolute;
    top: 70px;
    max-height: 100px;
    width: 100%;
    background-color: var(--bg-color-2);
    border-radius: 8px;
    border:1px solid var(--border);
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tagDiv{
    width: 100%;
    text-align: left;
    cursor: pointer;
}