

.sideContainer{
    width: 297px;
    height: 100%;
    transition: 0.3s;
    position: relative;
}

.sidebarLogo{
    height: 30px;
    margin: 0 0 1rem 0;
}

.sidebar{
    width: 297px;
    height: 100vh;
    background-color: var(--bg-color-2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    padding: 1rem;
    border: 1px solid var(--border);
    position: relative;
    z-index: 2;
}

.sidebarBtn{
    color: var(--txt-color-2);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    background-color: var(--bg-color-2);
    border: none;
    cursor: pointer;
    padding: 0 0.5rem;
    border-radius: 6px;
    margin: 0 0 0.2rem 0;
    font-size: 16px;
    font-weight: 400;
}

.sidebarBtn:hover{
    background-color: var(--hover);
    color: var(--txt-color);
}

.sidebarBtn svg{
    width: 20px;
    height: 20px;
    margin: 0 0.5rem 0 0;
}

.sidebarBtn:hover svg path {
    stroke: #051513;
}


.sideTag{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0.9rem 0;
}


.sideTags .label{
    font-size: 12px;
    font-weight: bold;
    color: var(--txt-color-2);
}

.sideTag label{
    font-size: 16px;
    color: var(--txt-color-2);
    width: 100%;
    padding: 0 0.5rem;
    font-weight: 600;
}

.count{
    width: 21px;
    height: 21px;
    font-size: 12px;
    background-color: var(--bg-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideTags{
    padding: 0.6rem;
    width: 100%;

}


.hideBar{
    width: 20px;
    height: 20px;
    background-color: var(--bg-color-2);
    border: none;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 15px;
    right: 15px;
}


.hideBar img{
    width: 20px;
    height: 20px;
}

.sidebarOverlay{
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    display: none;
    background-color: rgba(0,0,0,0.8);
    z-index: 1;
}


.overlayOn{
    display: block;
}






@media screen and (max-width:1000px) {
    .sideContainer{
        position: absolute;
        left: -297px;
        top: 0;
        z-index: 10;
    }
    
    .sidebarActive{
        transform: translateX(297px);
    }
    
    .hideBar{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}