

.sideContainer{
    width: 297px;
    height: 100%;
}

.sidebarLogo{
    height: 30px;
    margin: 0 0 1rem 0;
}

.sidebar{
    width: 297px;
    height: 100vh;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    padding: 1rem;
}

.sidebarBtn{
    color: #4C5C59;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
    padding: 0 0.5rem;
    border-radius: 6px;
    margin: 0 0 0.2rem 0;
    font-size: 16px;
    font-weight: 400;
}

.sidebarBtn:hover{
    background-color: #E8F0EF;
    color: #051513;
}

.sidebarBtn svg{
    width: 20px;
    height: 20px;
    margin: 0 0.5rem 0 0;
}

.sidebarBtn:hover svg path {
    stroke: #051513;
}


.sideTag{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0.9rem 0;
}


.sideTags .label{
    font-size: 12px;
    font-weight: bold;
    color: #4D4D4D;
}

.sideTag label{
    font-size: 16px;
    color: #4D4D4D;
    width: 100%;
    padding: 0 0.5rem;
    font-weight: 600;
}

.count{
    width: 21px;
    height: 21px;
    font-size: 12px;
    background-color: #E8F0EF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideTags{
    padding: 0.6rem;
    width: 100%;

}