
.headerContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
    border: 1px solid var(--border);
    background-color: var(--bg-color-2);
    padding: 0 0.9rem;
    position: relative;
}

.headerBtn{
    width: 40px;
    height: 40px;
    border: 1px solid var(--border);
    cursor: pointer;
    border-radius: 8px;
    background-color: var(--button);
    display: none;
}


.headerBtn:hover{
    background-color: var(--button-hover)
}

.left,.right{
    display: flex;
    justify-content: center;
    align-items: center;
}



.searchbar{
    width: 100%;
    max-width: 320px;
    /* min-width: 193px; */
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 0.5rem ;
}
.searchLogo{
    position: absolute;
    left: 10px;
}


.searchbar input{
    height: 100%;
    width: 100%;
    border-radius: 8px;
    outline: none;
    border: 1px solid var(--border);
    padding: 0 0.5rem 0 2.2rem;
    color: var(--input);
    letter-spacing: 1%;
    
}

.searchbar input:hover{
    background-color: var(--input-hover)
}


.addBookmark{
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--button);
    border: none;
    width: 169px;
    height: 46px;
    color: var(--bg-color-2);
    font-size: 16px;
    cursor: pointer;
    margin: 0 0.5rem 0 0;
}

.avatar{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 0.5rem 0 0;
}

.avatar img{
    width: 40px;
    height: 40px;
}



@media screen and (max-width:1000px) {
    .headerBtn{
        display: block;
    }
}



@media screen and (max-width:450px) {
    .headerContainer{
        justify-content: space-evenly;
        height: 68px;
    }

    .searchbar{
        height: 41px;
        width: 193px;
    }

    .addBookmark{
        width: 40px;
        height: 40px;
    }

    .addBookmark p{
        display: none;
    }
}



.profile{
    position: absolute;
    width:248px;
    height: 170px;
    background-color: var(--bg-color-2);
    border-radius: 8px;
    border: 1px solid var(--border);
    right: 20px;
    top: 70px;
    color: var(--txt-color-2);
}

.profile h3{
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 0.7rem;
}


.themeToggle{
    position: relative;
    width: 64px;
    height: 30px;
    border: 1px solid var(--border);
    background-color: var(--bg-color);
    position: relative;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
    cursor: pointer;
}

.themeToggle img{
    width: 14px;
    height: 14px;
    z-index: 5;
}


.selected{
    position: absolute;
    width: 30px;
    height: 26px;
    border-radius: 4px;
    background-color: var(--bg-color-2);
    top: 1px;
    left: 1px;
    z-index: 1;
    transition: 0.2s;
}

.switch{
    transform: translateX(30px);
}





@media screen and (max-width:345px) {
    .searchbar{
        width: 150px;
    }
}