@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
    --bg-color:#E8F0EF;
    --bg-color-2:#FFFFFF;
    --txt-color:#051513;
    --txt-color-2:#4C5C59;
    --hover:#E8F0EF;
    --border:#DDE9E7;
    --button:#014745;
    --button-hover:#013C3B;
    --input-hover:#E8F0EF;
    --input:#FFFFFF;
}




[data-theme="dark"]{
    --bg-color:#001414;
    --bg-color-2:#001F1F;
    --txt-color:#FFFFFF;
    --txt-color:#B1B9B9;
    --hover:#002E2D;
    --border:#004241;
    --button:#014745;
    --button-hover:#013C3B;
    --input-hover:#004241;
    --input:#002E2D;
}








*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body{
    background-color: var(--bg-color);
    font-family: "Manrope", sans-serif;
    height: 100vh;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}




.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 1;
}


