@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body{
    background-color: #E8F0EF;
    font-family: "Manrope", sans-serif;
    height: 100vh;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
}



.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


